*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #F5F6FA;
  font-family: 'a-otf-ryumin-pr6n', serif , 'le-monde-livre-std',  serif , 'Zen Old Mincho', serif;
  color: darkblue;
	}

h1 {
  font-weight: normal;
  font-size: 43px;
}

h2 {
  font-weight: normal;
  font-size: 35px;
}

h3 {
  font-weight: normal;
  font-size: 25px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(255,255,255,0);
  font-family: 'le-monde-livre-std', serif;
  color: chocolate;
}

header a:link {
  color: chocolate;
}

header ul {
  font-size: 18px;
}

#top {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 1.5rem;
  color: darkblue;
}

#main {
	max-width:100%;
  height:auto;
  margin-top: 4rem;
}

#MenuButton {
  display: none;
}

#MenuList {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: auto;
}

  #MenuList ul {
    display: flex;
    flex-direction:row;
    margin-top: 10px;
  }

  #MenuList li {
    width: auto;
    padding: 0 1em;
    border-bottom: none;
  }

  #MenuList a {
    color: darkblue;
  }

  .side-img {
    display: flex;
  }

  p.side-text {
    display: flex;
  }

  #wrapper {
    margin-top: 8rem;
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
  }

  section {
    padding: 50px;
    margin-top: 20rem;
    margin-bottom: 20rem;
    height: auto;
      /*
    background-color: white;
    */
    background-color: inherit;

  }

  section h1 {
    margin-bottom: 5rem;
    font-family: 'le-monde-livre-std', serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 2px;
  }

  #about {
    margin-bottom: 10rem;
    line-height: 300%;
  }

  .about-img {
  	margin-right: calc(50% - 50vw);
  	margin-left: calc(50% - 50vw);
  }

  .about-img img{
    display: block;
    width: 100%;
    height:auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  #concept {
    margin-bottom: 100px;
    line-height: 300%;
  }

  #concept h2 {
    line-height: 200%;
  }

  #concept p {
    margin-top: 3rem;
  }

  #concept img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin-right: 0;
    margin-left: auto;
  }

  .concept-img {
  	margin-right: calc(50% - 50vw);
  	margin-left: calc(50% - 50vw);
  }

  .concept-img ul {
    display: flex;
    justify-content: space-between;
  }

  #img01 {
    display: block;
    padding-right: 2rem;
  }

  #img02 {
    display: block;
    width: 100%;
    height: auto;
    max-width: auto;
    margin-right: 0;
    margin-left: auto;
    padding-top: 10rem;
  }

  .parent_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  footer {
    padding: 40px;
    font-family: 'le-monde-livre-std', serif;
    background-color: white;
    color: darkblue;
  }

  .foot-wrap .menu-left, .menu-right {
      display: inline-block;
      padding: 40px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-left: 8rem;
      margin-right: 8rem;
      vertical-align: top;
      text-decoration: none;
      line-height:50px;
      font-size: 18px;
  }

  footer a:visited {
    color: darkblue;
  }

  footer a:link {
    color: darkblue;
  }

  footer a:hover {
    color: chocolate;
  }

  .copyright {
    text-align: center;
    margin-top: 10rem;
  }


@media only screen and (max-width: 768px) {

  #MenuButton {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 2rem;
  }

    .MenuButtonLine {
      position: relative;
      display: block;
      height: 2px;
      width: 30px;
      background: darkblue;
      transition: ease .5s;
    }

    .MenuButtonLine:nth-child(1) {
        top: 0;
    }
    .MenuButtonLine:nth-child(2) {
        margin: 8px 0;
    }
    .MenuButtonLine:nth-child(3) {
        top: 0;
    }

    #MenuButton.open .MenuButtonLine:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }

    #MenuButton.open .MenuButtonLine:nth-child(2) {
      transform: translateY(-50%);
      opacity: 0;
    }

    #MenuButton.open .MenuButtonLine:nth-child(3) {
      top: -10px;
      transform: rotate(-135deg);
    }

  #MenuList {  /* Default Display None */
    display: none;

    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
  }

    #MenuList ul {
      flex-direction: column;
    }

    #MenuList li {
      width: 100%;
      padding: 0;
      border-bottom: 1px solid darkblue;
    }

    #MenuList a {
      display: block;
      width: 100%;
      padding: 0.8rem 2rem;
    }

    h1 {
      font-weight: normal;
      font-size: 25px;
    }

    h2 {
      font-weight: normal;
      font-size: 20px;
    }

    h3 {
      font-weight: normal;
      font-size: 15px;
    }

    #wrapper {
      margin-top: 5rem;
      margin-left: 3rem;
      margin-right: 3rem;
    }

    p,figure {
    margin-bottom: 0;
    text-align: left;
  }

  figure.side_image {
    display: inline-block;
  }

  p.side_text {
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
  }

  div.parent_box {
    display:flex;
  flex-flow: column;
  }

  .foot-wrap .menu-left, .menu-center, .menu-right {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .foot-wrap .cpr {
        display: inline;
    }

}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

  h1 {
    font-weight: normal;
    font-size: 25px;
  }

  h2 {
    font-weight: normal;
    font-size: 18px;
  }

  h3 {
    font-weight: normal;
    font-size: 14px;
  }

  p {
    font-weight: normal;
    font-size: 10px;
  }

  #wrapper {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  section {
    padding: 10px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  #about {
    line-height: 200%;
  }

  #concept {
    line-height: 200%;
  }

  #concept img{
    width: 0;
  }

  #img01 {
    width: 100%;
    padding-right: 0;
  }

  #img02 {
    width: 0;
  }

  .parent_box {
    text-align: center;
  }

  .foot-wrap .menu-left, .menu-right {
      display: inline-block;
      padding: 10px;
      margin-left: 0;
      font-size: 18px;
  }

}
